.marquee {
  overflow: hidden;
  white-space: nowrap;
  background: black;
  color: white;
  padding: 10px;
}

.track {
  display: inline-block;
  animation: scroll 8s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.track:hover {
  animation-play-state: paused;
}